<div class="D3TreeView" data-dojo-attach-point="D3TreeView">
	<div id="tree-container" data-dojo-attach-point="svgTree">
		<button id="tree-collapse" type="button" data-dojo-attach-point="svgBtnCollapseAll" class="btn mx-button">
			<span class="glyphicon glyphicon-minus"></span>		
		</button>
		<button id="tree-expand" type="button" data-dojo-attach-point="svgBtnExpandAll" class="btn mx-button">
			<span class="glyphicon glyphicon-plus"></span>	
		</button>
		<button id="tree-save" type="button" data-dojo-attach-point="svgBtnSaveNodes" class="btn mx-button">
			<span class="glyphicon glyphicon-saved"></span>
		</button>
	</div>
</div>